.btn-start{
  background-color: greenyellow;
}

.btn-stop{
  background-color: red;
}

.btn-start:hover{
  background-color: greenyellow;
}

.btn-stop:hover{
  background-color: red;
}

.btn-start:focus{
  background-color: greenyellow;
}

.btn-stop:focus{
  background-color: red;
}
.disabled{
  background-color: #d1d0d0;
}

.App{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
 
}

.form-control{
  margin-top: 20px;
  border: 1px solid #d1d0d0 ;
  width: 50%;
}
#button {
  float: left;
  box-shadow: 0 0 2px #444444;
}

.btn{
  border: 1px solid black ;
  margin-top: 10px;
 
}

strong {
  zoom: 2.5;
}